In [164]:
from google.cloud import bigquery
import pandas as pd
import os

os.environ['GOOGLE_APPLICATION+CREDENTIALS'] = '/Users/nrabbani/.config/gcloud/application_default_credentials.json'
os.environ['GCLOUD_PROJECT'] = 'mining-clinical-decisions'
%load_ext google.cloud.bigquery

client=bigquery.Client()

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/google/auth/_default.py:70: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)
/opt/homebrew/Caskroom/miniforge/base/lib/python3.9/site-packages/google/auth/_default.py:70: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [165]:
query = '''
WITH lr_inpt as (
    SELECT * FROM `mining-clinical-decisions.lpch_core.lab_result`
    WHERE ordering_mode='Inpatient'
    Limit 10
)
SELECT *
FROM (
    SELECT
        ANY_VALUE(lr_inpt) lr_inpt,
        ARRAY_AGG(adt order by adt.event_time_jittered DESC LIMIT 1) adt
        FROM lr_inpt
        LEFT JOIN `mining-clinical-decisions.lpch_core.adt` adt
        USING (pat_enc_csn_id_coded)
        WHERE lr_inpt.order_time >= adt.EVENT_TIME_JITTERED
        GROUP BY TO_JSON_STRING(lr_inpt)
)
'''

query_job = client.query(query)
df = query_job.to_dataframe()

In [172]:
df

,lr_inpt,adt
0,"{'anon_id': 'JC799980', 'pat_enc_csn_id_coded'...","[{'ANON_ID': 'JC799980', 'PAT_ENC_CSN_ID_CODED..."
1,"{'anon_id': 'JC658803', 'pat_enc_csn_id_coded'...","[{'ANON_ID': 'JC658803', 'PAT_ENC_CSN_ID_CODED..."
2,"{'anon_id': 'JC618687', 'pat_enc_csn_id_coded'...","[{'ANON_ID': 'JC618687', 'PAT_ENC_CSN_ID_CODED..."
3,"{'anon_id': 'JC696156', 'pat_enc_csn_id_coded'...","[{'ANON_ID': 'JC696156', 'PAT_ENC_CSN_ID_CODED..."
4,"{'anon_id': 'JC711973', 'pat_enc_csn_id_coded'...","[{'ANON_ID': 'JC711973', 'PAT_ENC_CSN_ID_CODED..."
5,"{'anon_id': 'JC1146621', 'pat_enc_csn_id_coded...","[{'ANON_ID': 'JC1146621', 'PAT_ENC_CSN_ID_CODE..."

In [226]:
%%bigquery
SELECT pat_lv_of_care, COUNT(pat_lv_of_care) as cnt
FROM njr_labutil.lradt
GROUP BY pat_lv_of_care
ORDER BY cnt desc

                  pat_lv_of_care      cnt
0                  Critical Care  8495061
1                     Acute Care  6762568
2                                 3169406
3    Intermediate Intensive Care   542719
4               Well Infant Care   452042
5  Recovery/Post Anesthesia Care    27211

In [223]:
%%bigquery
SELECT pat_class, COUNT(pat_class) as cnt
FROM (
    SELECT * FROM njr_labutil.lradt
)
GROUP BY pat_class
ORDER BY cnt desc

                     pat_class       cnt
0                    Inpatient  12184370
1                Surgery Admit   2691918
2                      Newborn   2597579
3                   Outpatient   1486499
4  Hospital Outpatient Surgery    425804
5                  Observation     60454
6                                   1041
7    Radiation Oncology Series       914
8           Nuclear Med Series       423
9                    OB Series         5

In [230]:
pd.set_option('display.max_rows', None)

In [231]:
%%bigquery
SELECT pat_service, COUNT(pat_service) as cnt
FROM (
    SELECT * FROM njr_labutil.lradt
)
GROUP BY pat_service
ORDER BY cnt desc

                                   pat_service      cnt
0                                  Neonatology  3252738
1                                   Cardiology  2670793
2                               Intensive Care  2308405
3                                   Obstetrics  1875714
4                          Hematology/Oncology  1847498
5                       Cardiovascular Surgery  1333710
6                         Stem Cell Transplant   869208
7                                                798017
8                           General Pediatrics   680400
9                             Gastroenterology   560896
10                             General Surgery   407952
11                                  Nephrology   371692
12                         Adolescent Medicine   344174
13               Cardiovascular Intensive Care   280035
14                                   Pulmonary   264752
15                                    Oncology   220734
16                            Liver Transplant   209354
17                                Neurosurgery   186579
18                                Rheumatology   184762
19                          Transplant Surgery   141232
20                                 Orthopedics    89447
21                        Otolaryngology (ENT)    60607
22                          Orthopedic Surgery    55529
23                                  Anesthesia    53755
24                                   Neurology    53720
25                                    GI/Liver    46442
26                    Interventional Radiology    38581
27                                     Urology    37695
28                           Kidney Transplant    32166
29                                Cardiac Cath    32158
30                             Plastic Surgery    21739
31                   Cardiovascular Transplant    17007
32                               Endocrinology    15536
33                                  Gynecology    14462
34                                         ***    11290
35                        Immunology & Allergy    11069
36                             Newborn Nursery     7036
37                                      Trauma     5519
38                   Pulmonary & Critical Care     5203
39                               Ophthalmology     4676
40                                  Hematology     3997
41                                    Genetics     3628
42                             Pain Management     2902
43                     Gynecology & Obstetrics     2431
44                                   Dentistry     2354
45                              Neuro Oncology     1539
46                                   Radiology     1467
47                     Maternal-Fetal Medicine     1440
48                                 Dermatology     1136
49                       Adolescent Gynecology      954
50                                  Psychiatry      927
51                          Radiation Oncology      892
52                          Infectious Disease      775
53                                        Hand      438
54                                   Pathology      367
55                                   Audiology      301
56                              Neuro-Oncology      260
57                      Development & Behavior      158
58                              Rehabilitation      155
59                            Nuclear Medicine      139
60  Reproductive Endocrinology and Infertility      139
61                      Neuromuscular Medicine       87
62                  Gastrointestinal Pathology       84
63                            Vascular Surgery       47
64                               OB Anesthesia       37
65                           Radiation Therapy       31
66                            Respiratory Care       18
67                                    Diabetes       16
68                          Addiction Medicine        4
69                     Oromaxilofacial Surgery        2

In [225]:
%%bigquery
SELECT accomodation, COUNT(accomodation) as cnt
FROM (
    SELECT * FROM njr_labutil.lradt
)
GROUP BY accomodation
ORDER BY cnt desc

                 accomodation      cnt
0                              2216723
1       PEDS MED/SURG Level 2  1346219
2       Critical Care Level 3  1341010
3            Labor & Delivery  1289076
4          NICU Level 3 (174)  1274545
5    CV Critical Care Level 3  1153808
6            Oncology Level 3  1089229
7    CV Critical Care Level 2   908903
8       PEDS MED/SURG Level 3   837399
9                        SCT    774643
10               NICU Level 4   741390
11                       ECMO   682946
12                     NITRIC   674760
13           Oncology Level 2   659299
14      Critical Care Level 2   633872
15      Critical Care Level 1   593674
16                 OB Level 4   478394
17            Newborn Nursery   472152
18                       CVVH   438641
19   CV Critical Care Level 1   347799
20                       LVAD   195332
21                  ICN Lvl C   176834
22       CCP Med/Surg Level 3   164526
23                 OB Level 3   133817
24                  ICN Lvl B   118591
25      PEDS MED/SURG Level 1    93665
26  PEDS TXP Med/Surg Level 3    92600
27       CCP Med/Surg Level 1    87483
28              PEDS Med/Surg    86965
29       CCP Med/Surg Level 2    78202
30     Neonatal Level 2 (173)    63834
31      NICU/DIALYSIS Level 4    40205
32         NICU/NEURO Level 4    36192
33           Oncology Level 4    34042
34              SCT 2 (SCT 2)    25589
35           Oncology Level 1    15316
36  PEDS TXP Med/Surg Level 2    12787
37                  ICN Lvl D    11605
38               IICU Level 3     6849
39      PEDS MED/SURG Level 4     6800
40                 OB Level 2     6370
41     Neonatal Level 3 (173)     5299
42              CARD Med/Surg      347
43          Outpatient in Bed      326
44               IICU Level 1      271
45                  ICN Lvl A      239
46  PEDS TXP Med/Surg Level 1      158
47                 OB Level 1      150
48               IICU Level 2       73
49     Neonatal Level 1 (172)       40
50                  PACU INPT       10
51               Boarder Baby        8

In [216]:
%%bigquery
SELECT pat_class, COUNT(pat_class) as cnt
FROM (
    SELECT * FROM njr_labutil.lradt
    WHERE pat_lv_of_care = ''
)
GROUP BY pat_class
ORDER BY cnt desc

                     pat_class      cnt
0                   Outpatient  1477223
1                Surgery Admit   687671
2                    Inpatient   476340
3  Hospital Outpatient Surgery   413284
4                      Newborn    82455
5                  Observation    30050
6                                  1041
7    Radiation Oncology Series      914
8           Nuclear Med Series      423
9                    OB Series        5

In [219]:
%%bigquery
SELECT accomodation, COUNT(accomodation) as cnt
FROM (
    SELECT * FROM njr_labutil.lradt
    WHERE pat_lv_of_care = '' AND pat_class = 'Inpatient'
)
GROUP BY accomodation
ORDER BY cnt desc

                 accomodation     cnt
0            Labor & Delivery  100983
1       PEDS MED/SURG Level 2   44914
2       Critical Care Level 3   38298
3          NICU Level 3 (174)   30878
4                  OB Level 4   27396
5       PEDS MED/SURG Level 3   23917
6            Oncology Level 3   22244
7                               22062
8            Oncology Level 2   21984
9                        ECMO   20998
10      Critical Care Level 2   20077
11      Critical Care Level 1   16794
12   CV Critical Care Level 3   12777
13                       SCT    12400
14     Neonatal Level 2 (173)    9849
15               NICU Level 4    7747
16   CV Critical Care Level 2    5630
17                     NITRIC    5214
18   CV Critical Care Level 1    3807
19                 OB Level 3    3423
20                       CVVH    3213
21         NICU/NEURO Level 4    2925
22     Neonatal Level 3 (173)    2651
23       CCP Med/Surg Level 2    2556
24       CCP Med/Surg Level 3    2132
25      PEDS MED/SURG Level 1    1826
26              PEDS Med/Surg    1786
27       CCP Med/Surg Level 1    1644
28  PEDS TXP Med/Surg Level 3    1499
29                  ICN Lvl C    1294
30            Newborn Nursery    1138
31                       LVAD     593
32      NICU/DIALYSIS Level 4     530
33  PEDS TXP Med/Surg Level 2     297
34                  ICN Lvl B     230
35           Oncology Level 4     182
36                 OB Level 2     164
37           Oncology Level 1     160
38              SCT 2 (SCT 2)      88
39     Neonatal Level 1 (172)      36
40               IICU Level 3       4

In [232]:
%%bigquery
SELECT * FROM njr_labutil.lradt
WHERE
    (pat_class = 'Inpatient' OR pat_class = 'Surgery Admit')
    AND pat_service NOT IN (
        'Obstetrics', 'Maternal-Fetal Medicine',
        'Reproductive Endocrinology and Infertility',
        'Gynecology & Obstetrics', 'Gynecology',
        'Intensive Care', 'Neonatology', 'Cardiovascular Intensive Care')
    AND (pat_lv_of_care = 'Acute Care'
        OR (pat_lv_of_care='' AND accomodation IN (
            'PEDS MED/SURG Level 1','PEDS MED/SURG Level 2', 'PEDS MED/SURG Level 3',
            'PEDS Med/Surg',
            'CCP Med/Surg Level 1','CCP Med/Surg Level 2','CCP Med/Surg Level 3',
            'PEDS TXP Med/Surg Level 1', 'PEDS TXP Med/Surg Level 2','PEDS TXP Med/Surg Level 3',
            'Oncology Level 1', 'Oncology Level 2', 'Oncology Level 3', 'Oncology Level 4'
            )
        )
    )
LIMIT 10

,uid,anon_id,pat_enc_csn_id_coded,order_id_coded,component_id,order_type,proc_code,group_lab_name,lab_name,base_name,...,department_id,pat_service,pat_lv_of_care,accomodation,from_base_class,to_base_class,in_event_type,out_event_type,event_id_coded,event_type
0,1463857,JC586854,309567035,702849975,797,Lab,LAB15,"Metabolic Panel, Basic","Urea Nitrogen, Ser/Plas",BUN,...,10201101,Stem Cell Transplant,Acute Care,SCT,Inpatient,Inpatient,Census,Census,352024,Census
1,1781918,JC586854,309567035,703683058,2507,Lab,LAB347,Urinalysis Macroscopic Only,Blood,UBLOOD,...,10201101,Stem Cell Transplant,Acute Care,SCT,Inpatient,Inpatient,Census,Census,438241,Census
2,1781334,JC586854,309567035,703683066,483,Lab,LAB293,CBC with Diff,RDW,RDW,...,10201101,Stem Cell Transplant,Acute Care,SCT,Inpatient,Inpatient,Census,Census,438241,Census
3,1761220,JC586854,309567035,703644511,6497,Lab,LAB347,Urinalysis Macroscopic Only,pH,UPH,...,10201101,Stem Cell Transplant,Acute Care,SCT,Inpatient,Inpatient,Census,Census,433437,Census
4,1760727,JC586854,309567035,703644516,6046,Lab,LAB293,CBC with Diff,MCV,MCV,...,10201101,Stem Cell Transplant,Acute Care,SCT,Inpatient,Inpatient,Census,Census,433437,Census
5,1811104,JC586854,309567035,703781705,6632,Lab,LAB17,"Metabolic Panel, Comprehensive","Protein, Total",TP,...,10201101,Stem Cell Transplant,Acute Care,SCT,Inpatient,Inpatient,Census,Census,446929,Census
6,2218369,JC586854,309567035,704897885,4668,Lab,LAB52,"Bilirubin Direct, Ser/Plas","Bilirubin, Direct",DBIL,...,10201101,Cardiac Cath,Acute Care,SCT,Inpatient,Inpatient,Transfer In,,553192,Transfer In
7,1587304,JC586854,309567035,703212235,492,Lab,LAB293,CBC with Diff,"EOS, %",EOS,...,10201101,Stem Cell Transplant,Acute Care,SCT,Inpatient,Inpatient,Census,Census,386111,Census
8,1781703,JC586854,309567035,703683066,499,Lab,LAB293,CBC with Diff,"EOS, ABS",EOSAB,...,10201101,Stem Cell Transplant,Acute Care,SCT,Inpatient,Inpatient,Census,Census,438241,Census
9,1353054,JC586854,309567035,702577412,6046,Lab,LAB293,CBC with Diff,MCV,MCV,...,10201101,Stem Cell Transplant,Acute Care,SCT,Inpatient,Inpatient,Transfer In,,327135,Transfer In