# Statistical Analysis of the Lab Normality Paper

### Author: Song Xu

## Setting up variables

- Assign Data Set and Type here

In [1]:
curr_version = '10000-episodes-lastnormal'
inverse01 = True # Setting 'True' to interpret 'Normal' as 'Negative'

inverse_maker = '_inversed01' if inverse01 else ''

## Permutation Test

In [3]:
import LocalEnv

from scripts.LabTestAnalysis.machine_learning.LabNormalityPredictionPipeline \
        import NON_PANEL_TESTS_WITH_GT_500_ORDERS
from medinfo.ml.SupervisedClassifier import SupervisedClassifier

In [4]:
labs=NON_PANEL_TESTS_WITH_GT_500_ORDERS
algs=SupervisedClassifier.SUPPORTED_ALGORITHMS

In [2]:
from medinfo.db import DBUtil
from medinfo.db.Model import SQLQuery

In [183]:

query = SQLQuery()
query.addSelect('*')
query.addFrom('stride_patient')
query.setLimit(1)

results_totPatient = DBUtil.execute(query)

[2019-07-08 16:42:54,137 INFO] DBUtil.connection.63: Preparing DB Connection to tmp@localhost as postgres

In [184]:
results

[[8964988988145L,
  1924,
  'FEMALE',
  datetime.datetime(2009, 3, 24, 0, 0),
  'WHITE',
  'NON-HISPANIC/NON-LATINO']]

In [196]:
query = SQLQuery()
query.addSelect('*')
query.addFrom('stride_order_proc')
query.setLimit(1)

results = DBUtil.execute(query)

In [197]:
results

[[2372726L,
  6663748568286L,
  363284L,
  datetime.date(2009, 8, 19),
  'Nursing',
  624803L,
  'NUR4067',
  'OXYGEN ADMINISTRATION',
  'Oxygen Administration(PACU Only)',
  'NUR4067',
  'NURSING - TREATMENT',
  'Hospital Performed',
  '349893',
  None,
  None,
  'Canceled',
  1,
  'S',
  None,
  None,
  1,
  None,
  None,
  None,
  datetime.datetime(2009, 8, 19, 11, 2),
  'CONTINUOUS',
  None,
  None,
  datetime.datetime(2009, 8, 19, 11, 2),
  None,
  datetime.datetime(2009, 8, 19, 11, 15),
  None,
  None,
  None,
  datetime.date(2009, 8, 19),
  None,
  None,
  'Inpatient']]

In [223]:
query = SQLQuery()
query.addSelect('COUNT(DISTINCT po.pat_id)')
query.addFrom('stride_patient AS p')
query.addFrom('stride_order_proc AS po')
query.addWhere('po.pat_id = p.pat_id')
query.addWhere("po.order_time >= '2008-01-01'")
query.addWhere("po.order_time < '2017-07-01'")
results_patCnt = DBUtil.execute(query)

In [224]:
results_patCnt

[[116637L]]

In [3]:
# Number of inpatients investigated in the intensity study
query = SQLQuery()
query.addSelect('gender, COUNT(DISTINCT po.pat_id)')
query.addFrom('stride_patient AS p')
query.addFrom('stride_order_proc AS po')
query.addWhere('po.pat_id = p.pat_id')
query.addWhere("po.order_time >= '2014-07-01'")
query.addWhere("po.order_time < '2017-07-01'")
query.addGroupBy('gender')
results_genderCnt = DBUtil.execute(query)

[2019-07-21 12:44:29,741 INFO] DBUtil.connection.63: Preparing DB Connection to tmp@localhost as postgres

In [4]:
results_genderCnt

[['FEMALE', 4055L],
 ['Female', 18609L],
 ['MALE', 3642L],
 ['Male', 18374L],
 ['Unknown', 1L],
 [None, 29L]]

In [5]:
Female = 4055L + 18609L
Male = 3642L + 18374L
Female, Male

(22664L, 22016L)

In [195]:
female = 10815131L + 22880449L
male = 25409172L + 13142877L
unknown = 775L + 13796L + 489L
total = float(female + male + unknown)

print female/total, male/total, unknown/total

0.46629291639 0.533498677305 0.000208406304947

In [210]:
female, male

(33695580L, 38552049L)

In [6]:
# Number of inpatients investigated in the intensity study
query = SQLQuery()
query.addSelect('EXTRACT(YEAR FROM order_time) - p.birth_year AS age, COUNT(DISTINCT p.pat_id), gender')
query.addFrom('stride_patient AS p')
query.addFrom('stride_order_proc AS po')
query.addWhere('po.pat_id = p.pat_id')
query.addWhere("po.order_time >= '2008-01-01'")
query.addWhere("po.order_time < '2017-07-01'")
query.addGroupBy('age')
query.addGroupBy('gender')
results_ageSexCnt = DBUtil.execute(query)

In [7]:
import pandas as pd
df_ageSexCnt = pd.DataFrame(results_ageSexCnt)
df_ageSexCnt

         0    1       2
0      0.0    1    MALE
1      1.0    1    MALE
2      3.0    1  Female
3     10.0    1    MALE
4     10.0    1    Male
5     12.0    1  Female
6     12.0    2    MALE
7     13.0    1    MALE
8     13.0    1    Male
9     14.0    9  FEMALE
10    14.0    3  Female
11    14.0    8    MALE
12    14.0    5    Male
13    15.0   21  FEMALE
14    15.0   16  Female
15    15.0   20    MALE
16    15.0   17    Male
17    16.0   62  FEMALE
18    16.0   23  Female
19    16.0   41    MALE
20    16.0   19    Male
21    17.0   80  FEMALE
22    17.0   38  Female
23    17.0   84    MALE
24    17.0   45    Male
25    18.0  162  FEMALE
26    18.0   89  Female
27    18.0  178    MALE
28    18.0  100    Male
29    19.0  265  FEMALE
..     ...  ...     ...
357   99.0    6    Male
358  100.0   42  FEMALE
359  100.0   11  Female
360  100.0   11    MALE
361  100.0    2    Male
362  101.0   27  FEMALE
363  101.0    6  Female
364  101.0   12    MALE
365  101.0    2    Male
366  102.0   10  FEMALE
367  102.0    4  Female
368  102.0    5    MALE
369  102.0    2    Male
370  103.0    7  FEMALE
371  103.0    4  Female
372  103.0    3    MALE
373  103.0    1    Male
374  104.0    1  FEMALE
375  104.0    1  Female
376  104.0    1    MALE
377  105.0    3  FEMALE
378  105.0    2  Female
379  105.0    1    MALE
380  106.0    4  FEMALE
381  108.0    1  FEMALE
382  109.0    1  FEMALE
383  110.0    1  FEMALE
384  110.0    1    MALE
385  111.0    1    MALE
386    NaN   33    None

[387 rows x 3 columns]

In [8]:
df_ageMaleCnt = df_ageSexCnt[df_ageSexCnt[2].isin(['MALE', 'Male'])]
df_ageFemaleCnt = df_ageSexCnt[df_ageSexCnt[2].isin(['FEMALE', 'Female'])]

In [9]:
(df_ageMaleCnt[0]*df_ageMaleCnt[1]).sum() / df_ageMaleCnt[1].sum() #.mean()

58.95033171223453

In [10]:
(df_ageFemaleCnt[0]*df_ageFemaleCnt[1]).sum() / df_ageFemaleCnt[1].sum() #.mean()

58.7611788750179

NameError: name 'df_ageSexCnt' is not defined

In [220]:
df_order_1day = pd.read_csv("/Users/songxu/healthrex/CDSS/scripts/LabTestAnalysis/lab_statistics/Fig2_Order_Intensities/Order_Intensities_panel_labs_order_1day.csv")

In [222]:
df_order_1day['< 24 hrs'].sum()

792397

In [29]:


df = pd.read_csv(dataML_folderpath + "/%s/baseline_comparisons.csv"
                 % (lab), keep_default_na=False)
scores_actual_0 = df.ix[df['actual'] == 0, 'predict'].values
scores_actual_1 = df.ix[df['actual'] == 1, 'predict'].values

plot_baseline = False
if plot_baseline:
    plt.figure(figsize=(5, 4))


    plt.hist(scores_actual_0, bins=30, alpha=0.8, color='b', label="Abnormal")
    plt.hist(scores_actual_1, bins=30, alpha=0.8, color='g', label="Normal")
    plt.xlim([0, 1])
    plt.ylim([0, 500])
    plt.xticks([])
    plt.yticks([])
    # plt.xlabel(lab_descriptions[lab] + 'auroc=%.2f' % auc)
    # plt.xlabel('baseline', fontsize=16)
    plt.xlabel('Score, baseline', fontsize=16)
    plt.ylabel('num of orders', fontsize=16)
    plt.legend(fontsize=12)
    plt.savefig(os.path.join(figure1_folderpath, 'cartoon_baseline_%s.png'%lab))
    plt.clf()

figure, ax = plt.subplots(figsize=(5, 4))
alg = 'random-forest'
df = pd.read_csv(dataML_folderpath + "/%s/%s/direct_comparisons.csv"
                 % (lab, alg), keep_default_na=False)

df1 = pd.read_csv(dataML_folderpath + "/%s/%s/%s-normality-prediction-%s-report.tab"
                  % (lab, alg, lab, alg), sep='\t', keep_default_na=False)
auc = df1['roc_auc'].values[0]

scores_actual_trueNega = df.ix[(df['actual']==0) & (df['predict']<score_thres), 'predict'].values
scores_actual_falsPosi = df.ix[(df['actual'] == 0) & (df['predict'] >= score_thres), 'predict'].values

scores_actual_falsNega = df.ix[(df['actual'] == 1) & (df['predict'] < score_thres), 'predict'].values
scores_actual_truePosi = df.ix[(df['actual'] == 1) & (df['predict'] >= score_thres), 'predict'].values

if not inverse01:
    plt.hist(scores_actual_trueNega, bins=22, alpha=0.8, color='royalblue', label="true negatives")
    plt.hist(scores_actual_falsNega, bins=22, alpha=0.8, color='gold', label="false negatives")
    plt.hist(scores_actual_truePosi, bins=7, alpha=0.8, color='forestgreen', label="true positives")
    plt.hist(scores_actual_falsPosi, bins=7, alpha=0.8, color='orangered', label="false positives")

    plt.plot([score_thres] * dash_num, np.linspace(0, 800, num=dash_num), 'k--')
else:
    plt.hist(1-scores_actual_trueNega, bins=22, alpha=0.8, color='royalblue', label="True Positives")
    plt.hist(1-scores_actual_falsNega, bins=22, alpha=0.8, color='gold', label="False Positives")
    plt.hist(1-scores_actual_truePosi, bins=7, alpha=0.8, color='forestgreen', label="True Negatives")
    plt.hist(1-scores_actual_falsPosi, bins=7, alpha=0.8, color='orangered', label="False Negatives")

    plt.plot([1-score_thres] * dash_num, np.linspace(0, 800, num=dash_num), 'k--')



plt.legend(loc=(0.45,0.6), fontsize=12)

    

plt.xlim([0, 1])
plt.ylim([0, 800])
# plt.xticks([])
# plt.yticks([])
# plt.xlabel(lab_descriptions[lab])
# plt.xlabel('random forest', fontsize=16)
plt.xlabel('Score', fontsize=16)
plt.ylabel('Number of orders', fontsize=16)

ax.tick_params(axis='both', labelsize=14)
plt.tight_layout()

plt.savefig(os.path.join(figure1_folderpath, 'cartoon_%s_thres%s.png' % (lab, inverse_maker)))

In [28]:
figure, ax = plt.subplots(figsize=(5, 4))
alg = 'random-forest'
df = pd.read_csv(dataML_folderpath + "/%s/%s/direct_comparisons.csv"
                 % (lab, alg), keep_default_na=False)

df1 = pd.read_csv(dataML_folderpath + "/%s/%s/%s-normality-prediction-%s-report.tab"
                  % (lab, alg, lab, alg), sep='\t', keep_default_na=False)
auc = df1['roc_auc'].values[0]

scores_actual_0 = df.ix[df['actual'] == 0, 'predict'].values
scores_actual_1 = df.ix[df['actual'] == 1, 'predict'].values

if not inverse01:
    plt.hist(scores_actual_0, bins=30, alpha=0.8, color='gray', label="Abnormal") #gray red
    plt.hist(scores_actual_1, bins=30, alpha=0.8, color='black', label="Normal") #black green
else:
    plt.hist(1-scores_actual_0, bins=30, alpha=0.8, color='gray', label="Abnormal")
    plt.hist(1-scores_actual_1, bins=30, alpha=0.8, color='black', label="Normal")

plt.legend(fontsize=12)

plt.xlim([0, 1])
plt.ylim([0, 800])
# plt.xticks([])
# plt.yticks([])
# plt.xlabel(lab_descriptions[lab])
# plt.xlabel('random forest', fontsize=16)
plt.xlabel('Score', fontsize=16)
plt.ylabel('Number of orders', fontsize=16)

ax.tick_params(axis='both', labelsize=14)
plt.tight_layout()

plt.savefig(os.path.join(figure1_folderpath, 'cartoon_%s%s.png' % (lab, inverse_maker)))

## Component Transfer Stats

- Setting the config

- Get data

### Table 5

# Model transfer

diagonals avg: 0.8935227277998857
off_diags avg: 0.8648691788267958

['White Blood Cells' 0.89 0.88 0.79 0.87 0.89 0.81 0.87 0.88 0.83]
['Hemoglobin' 0.94 0.94 0.89 0.86 0.95 0.79 0.92 0.94 0.94]
['Platelet Count' 0.91 0.94 0.91 0.89 0.95 0.91 0.89 0.94 0.92]
['Sodium' 0.87 0.88 0.91 0.85 0.89 0.91 0.86 0.86 0.92]
['Potassium' 0.76 0.75 0.67 0.74 0.77 0.75 0.73 0.75 0.76]
['CO2' 0.86 0.8 0.75 0.8 0.87 0.85 0.77 0.82 0.87]
['Urea Nitrogen' 0.95 0.92 0.9 0.94 0.93 0.9 0.93 0.92 0.93]
['Creatinine' 0.96 0.91 0.85 0.94 0.94 0.88 0.92 0.88 0.9]
['Calcium' 0.89 0.86 0.81 0.87 0.88 0.85 0.85 0.86 0.89]
['Albumin' 0.93 0.88 0.73 0.84 0.91 0.74 0.92 0.89 0.9]
['Protein' 0.91 0.89 0.87 0.88 0.9 0.85 0.89 0.88 0.91]
['Alk Phos' 0.94 0.91 0.89 0.92 0.93 0.89 0.92 0.93 0.92]
['Total Bilirubin' 0.97 0.91 0.91 0.95 0.93 0.91 0.96 0.92 0.93]
['AST (SGOT)' 0.92 0.81 0.86 0.85 0.85 0.73 0.88 0.77 0.88]
['ALT (SGPT)' 0.93 0.86 0.91 0.92 0.91 0.88 0.88 0.84 0.92]