# Statistical Analysis of the Lab Normality Paper

### Author: Song Xu

## Setting up variables

- Assign Data Set and Type here

In [1]:
curr_version = '10000-episodes-lastnormal'
inverse01 = True # Setting 'True' to interpret 'Normal' as 'Negative'

inverse_maker = '_inversed01' if inverse01 else ''

## Permutation Test

In [3]:
import LocalEnv

from scripts.LabTestAnalysis.machine_learning.LabNormalityPredictionPipeline \
        import NON_PANEL_TESTS_WITH_GT_500_ORDERS
from medinfo.ml.SupervisedClassifier import SupervisedClassifier

In [4]:
labs=NON_PANEL_TESTS_WITH_GT_500_ORDERS
algs=SupervisedClassifier.SUPPORTED_ALGORITHMS

In [1]:
from medinfo.db import DBUtil
from medinfo.db.Model import SQLQuery

In [223]:
query = SQLQuery()
query.addSelect('COUNT(DISTINCT po.pat_id)')
query.addFrom('stride_patient AS p')
query.addFrom('stride_order_proc AS po')
query.addWhere('po.pat_id = p.pat_id')
query.addWhere("po.order_time >= '2008-01-01'")
query.addWhere("po.order_time < '2017-07-01'")
results_patCnt = DBUtil.execute(query)

In [224]:
results_patCnt

[[116637L]]

In [3]:
# Number of inpatients investigated in the intensity study
query = SQLQuery()
query.addSelect('gender, COUNT(DISTINCT po.pat_id)')
query.addFrom('stride_patient AS p')
query.addFrom('stride_order_proc AS po')
query.addWhere('po.pat_id = p.pat_id')
query.addWhere("po.order_time >= '2014-07-01'")
query.addWhere("po.order_time < '2017-07-01'")
query.addGroupBy('gender')
results_genderCnt = DBUtil.execute(query)

[2019-07-21 12:44:29,741 INFO] DBUtil.connection.63: Preparing DB Connection to tmp@localhost as postgres

In [4]:
results_genderCnt

[['FEMALE', 4055L],
 ['Female', 18609L],
 ['MALE', 3642L],
 ['Male', 18374L],
 ['Unknown', 1L],
 [None, 29L]]

In [2]:
# Number of inpatients investigated in the intensity study
query = SQLQuery()
query.addSelect('EXTRACT(YEAR FROM order_time) - p.birth_year AS age, COUNT(DISTINCT p.pat_id), gender')
query.addFrom('stride_patient AS p')
query.addFrom('stride_order_proc AS po')
query.addWhere('po.pat_id = p.pat_id')
query.addWhere("po.order_time >= '2008-01-01'")
query.addWhere("po.order_time < '2017-07-01'")
query.addGroupBy('age')
query.addGroupBy('gender')
results_ageSexCnt = DBUtil.execute(query)

[2019-08-06 20:56:45,886 INFO] DBUtil.connection.63: Preparing DB Connection to tmp@localhost as postgres

In [3]:
import pandas as pd
df_ageSexCnt = pd.DataFrame(results_ageSexCnt)
df_ageSexCnt

         0    1       2
0      0.0    1    MALE
1      1.0    1    MALE
2      3.0    1  Female
3     10.0    1    MALE
4     10.0    1    Male
5     12.0    1  Female
6     12.0    2    MALE
7     13.0    1    MALE
8     13.0    1    Male
9     14.0    9  FEMALE
10    14.0    3  Female
11    14.0    8    MALE
12    14.0    5    Male
13    15.0   21  FEMALE
14    15.0   16  Female
15    15.0   20    MALE
16    15.0   17    Male
17    16.0   62  FEMALE
18    16.0   23  Female
19    16.0   41    MALE
20    16.0   19    Male
21    17.0   80  FEMALE
22    17.0   38  Female
23    17.0   84    MALE
24    17.0   45    Male
25    18.0  162  FEMALE
26    18.0   89  Female
27    18.0  178    MALE
28    18.0  100    Male
29    19.0  265  FEMALE
..     ...  ...     ...
357   99.0    6    Male
358  100.0   42  FEMALE
359  100.0   11  Female
360  100.0   11    MALE
361  100.0    2    Male
362  101.0   27  FEMALE
363  101.0    6  Female
364  101.0   12    MALE
365  101.0    2    Male
366  102.0   10  FEMALE
367  102.0    4  Female
368  102.0    5    MALE
369  102.0    2    Male
370  103.0    7  FEMALE
371  103.0    4  Female
372  103.0    3    MALE
373  103.0    1    Male
374  104.0    1  FEMALE
375  104.0    1  Female
376  104.0    1    MALE
377  105.0    3  FEMALE
378  105.0    2  Female
379  105.0    1    MALE
380  106.0    4  FEMALE
381  108.0    1  FEMALE
382  109.0    1  FEMALE
383  110.0    1  FEMALE
384  110.0    1    MALE
385  111.0    1    MALE
386    NaN   33    None

[387 rows x 3 columns]

In [4]:
df_ageMaleCnt = df_ageSexCnt[df_ageSexCnt[2].isin(['MALE', 'Male'])]
df_ageFemaleCnt = df_ageSexCnt[df_ageSexCnt[2].isin(['FEMALE', 'Female'])]

In [5]:
(df_ageMaleCnt[0]*df_ageMaleCnt[1]).sum() / df_ageMaleCnt[1].sum() #.mean()

58.95033171223453

In [6]:
(df_ageFemaleCnt[0]*df_ageFemaleCnt[1]).sum() / df_ageFemaleCnt[1].sum() #.mean()

58.7611788750179

In [9]:
import numpy as np

all_cnts = df_ageMaleCnt[1].values
all_ages = df_ageMaleCnt[0].values

all_males = []
for i in range(len(all_ages)):
    for j in range(all_cnts[i]):
        all_males.append(all_ages[i])
print np.std(all_males)

18.104354834545635

In [10]:
all_cnts = df_ageFemaleCnt[1].values
all_ages = df_ageFemaleCnt[0].values

all_females = []
for i in range(len(all_ages)):
    for j in range(all_cnts[i]):
        all_females.append(all_ages[i])
print np.std(all_females)

18.967577523036514

In [220]:
df_order_1day = pd.read_csv("/Users/songxu/healthrex/CDSS/scripts/LabTestAnalysis/lab_statistics/Fig2_Order_Intensities/Order_Intensities_panel_labs_order_1day.csv")

In [222]:
df_order_1day['< 24 hrs'].sum()

792397