In [1]:
##Setting up Google sdk environment
import os 
import pandas as pd

##Use correct path based on whether you are local or Nero 
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/Users/Ivana/.config/gcloud/application_default_credentials.json' 

##set correct Nero project
os.environ['GCLOUD_PROJECT'] = 'som-nero-phi-jonc101'
#os.environ['GCLOUD_PROJECT'] = 'mining-clinical-decisions'

##load bq magic command
%load_ext google.cloud.bigquery

from google.cloud import bigquery
client=bigquery.Client()

/Users/Ivana/opt/miniconda3/lib/python3.7/site-packages/google/auth/_default.py:69: UserWarning: Your application has authenticated using end user credentials from Google Cloud SDK without a quota project. You might receive a "quota exceeded" or "API not enabled" error. We recommend you rerun `gcloud auth application-default login` and make sure a quota project is added. Or you can use service accounts instead. For more information about service accounts, see https://cloud.google.com/docs/authentication/
  warnings.warn(_CLOUD_SDK_CREDENTIALS_WARNING)

In [2]:
#How to save results of a query into a table using python (pandas)
query = 'select pat_enc_csn_id_coded from starr_datalake2018.adt limit 10'
query_job = client.query(query)
df_cohort = query_job.result().to_dataframe()

/Users/Ivana/opt/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: PyarrowMissingWarning: Converting to a dataframe without pyarrow installed is often slower and will become unsupported in the future. Please install the pyarrow package.
  This is separate from the ipykernel package so we can avoid doing imports until

In [3]:
df_cohort.head()

   pat_enc_csn_id_coded
0          131252359745
1          131248767001
2          131250104967
3          131256032446
4          131260217397

In [4]:
#"%%bigquery" runs SQL queries, does not save data
%%bigquery
select pat_enc_csn_id_coded from starr_datalake2018.adt limit 17

    pat_enc_csn_id_coded
0           131248255400
1           131251163697
2           131249233204
3           131247873288
4           131250281284
5           131249233204
6           131250719981
7           131257678868
8           131256499078
9           131249935974
10          131258013615
11          131256927474
12          131249649529
13          131249751857
14          131260778399
15          131253289598
16          131254912522